.snip-layout.snip-layout {
  * {
    font-family: consolas, Menlo, monospace, sans-serif;
  }

  .snip-product__name {
    text-transform: none;
  }

  .snip-header {
    background: #e6db47;
  }

  .snip-layout__main-container {
    border: 2px solid #dddddd;
    padding: 3px;
  }

  .snip-header__total {
    border-radius: 0;
  }

  .snip-header__total {
    background: #d4cc65;
  }
}

